
# basic
.idea
.env
.DS_Store
*.log
*.xml
.vscode
/CoreDatabase/mysql


InfoIsland/InfoIsland/.yarn/install-state.gz


# nginx data
/load_balancer/nginx/

# build files
/load_balancer/app
CoreManager/CoreManager/target
Exec/feed_harmony_pid.txt
.gitignore
Exec/feedharmony_pid.txt
oath_db/postgresql
oathkeeper/scanner/target
oathkeeper/scanner/project/target
